scripts
mock_data.csv

### standart
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
.env.*
.pytest_cache/
.vscode/

# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# IDEs
.vscode/
.idea/
.ruff_cache

# OS-specific
*.DS_Store
Thumbs.db